body{
  background-color: cyan;
}
select{
  width: 5em;
}
#title{
  text-align: center;
}
#exchange-area{
  display: inline;
  width: fit-content;
  padding: 2em;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}
#amount{
  margin-top: 1em;
  width: 14.1em;
}
#convert{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
#form-conversion{
  margin: 0;
}
#output-area{
  text-align: center;
}
#error{
  color: red;
  font-style: italic;
  display: none;
}